.card {
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  background-color: #aebec0;
  min-width: 200px;
}

.card>img {
    width: 20px;
    height: 20px;
    text-align: center;
  }
body {
background-image: url("566417.jp");
  }